@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('../fonts/Segoe UI.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Italic'), url('../fonts/Segoe UI Italic.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('../fonts/Segoe UI Bold.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold Italic'), url('../fonts/Segoe UI Bold Italic.woff') format('woff');
}

/* Reset some default styles to ensure consistency */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Set a background color and text color */
body {
    color: #333;
    font-family: Segoe UI Regular, Arial, sans-serif;
}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Style the main content */
main {
    padding: 20px;
}

/* Style posts */
.post {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.post h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.post p {
    font-size: 16px;
    line-height: 1.5;
}

.post a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ccc;
    transition: background-color 0.3s;
}

.post a:hover {
    background-color: #555;
    color: #fff;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Style categories */
.category {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.category h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.category p {
    font-size: 16px;
    line-height: 1.5;
}

.category a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ccc;
    transition: background-color 0.3s;
}

.category a:hover {
    background-color: #555;
    color: #fff;
}

/* Add these styles for the posting page */

/* Style the post form */
.post-form {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.pfp {
    border-radius: 50%;
}

.post-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Style the post textarea */
#post-content {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: none;
}
#post-title {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Style the send button */
button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Add styles for the emoji row */
.emoji-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.emoji {
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s ease-in-out;
}

.emoji:hover {
    transform: scale(1.2);
}

/* Style the category row */
.category-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Style the category */
.category {
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20px; /* More rounded edges */
    transition: background-color 0.2s, color 0.2s, transform 0.2s; /* Added transition for border-radius */
}

/* Style the selected category */
.category.selected {
    /* background-color: #ccc; */ /* Lighter gray background for selected category */
    color: #FFF; /* Black text color for selected category */
    border-radius: 20px; /* More rounded edges */
}

#createPostButton {
    border-radius: 20px;
}

.category:hover {
    transform: scale(1.1);
}

/* Add some spacing between the category row and other elements */
.emoji-row {
    margin-top: 10px;
}
.emoji {
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 20px;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


/* CSS for the growing color effect */
.grow-color {
    transition: background-color 0.3s ease-in-out; /* Adjust the duration and easing as needed */
}

/* Add styles to the button */
#createPostButton {
    background-color: #0074d9;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#createPostButton:hover {
    background-color: #0056b3;
}

/* Add styles for the temporary message */
#popupInstruction {
    display: none;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.post-form p {
    white-space: pre-wrap;
}

/* Add this style to match your existing styles */
#writeCommentBtn {
    background-color: #007BFF;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

#writeCommentBtn:hover {
    background-color: #0056b3;
}

#ShareBtn {
    background-color: #007BFF;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

#ShareBtn:hover {
    background-color: #0056b3;
}

#button-row {
    display: flex;
    justify-content: center;
}

html {
    background-color: #181a1b !important;
}
html {
    color-scheme: dark !important;
}
html, body {
    background-color: #181a1b;
}
html, body {
    border-color: #736b5e;
    color: #e8e6e3;
}
a {
    color: #3391ff;
}
table {
    border-color: #545b5e;
}
::placeholder {
    color: #b2aba1;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #404400 !important;
    color: #e8e6e3 !important;
}
::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}
::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #575e62;
}
::-webkit-scrollbar-thumb:active {
    background-color: #484e51;
}
::-webkit-scrollbar-corner {
    background-color: #181a1b;
}
::selection {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
}
::-moz-selection {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
}

/* Invert Style */
.jfk-bubble.gtx-bubble, .captcheck_answer_label > input + img, span#closed_text > img[src^="https://www.gstatic.com/images/branding/googlelogo"], span[data-href^="https://www.hcaptcha.com/"] > #icon, #bit-notification-bar-iframe, ::-webkit-calendar-picker-indicator, img.Wirisformula {
    filter: invert(100%) hue-rotate(180deg) contrast(90%) !important;
}

/* Variables Style */
:root {
   --darkreader-neutral-background: #131516;
   --darkreader-neutral-text: #d8d4cf;
   --darkreader-selection-background: #004daa;
   --darkreader-selection-text: #e8e6e3;
}

/* Modified CSS */
body {
    color: rgb(200, 195, 188);
}
header {
    background-color: rgb(38, 42, 43);
    color: rgb(232, 230, 227);
}
nav ul li a {
    text-decoration-color: initial;
    color: rgb(232, 230, 227);
}
.post {
    background-color: rgb(24, 26, 27);
    border-color: rgb(62, 68, 70);
}
.post a {
    text-decoration-color: initial;
    color: rgb(200, 195, 188);
    background-color: rgb(53, 57, 59);
}
.post a:hover {
    background-color: rgb(64, 69, 72);
    color: rgb(232, 230, 227);
}
footer {
    background-color: rgb(38, 42, 43);
    color: rgb(232, 230, 227);
}
.category {
    background-color: rgb(24, 26, 27);
    border-color: rgb(62, 68, 70);
}
.category a {
    text-decoration-color: initial;
    color: rgb(200, 195, 188);
    background-color: rgb(53, 57, 59);
}
.category a:hover {
    background-color: rgb(64, 69, 72);
    color: rgb(232, 230, 227);
}
.post-form {
    background-color: rgb(24, 26, 27);
    border-color: rgb(62, 68, 70);
}
#post-content {
    border-color: rgb(62, 68, 70);
}
#post-title {
    border-color: rgb(62, 68, 70);
}
button[type="submit"] {
    background-color: rgb(0, 98, 204);
    color: rgb(232, 230, 227); border-color: initial;
}
button[type="submit"]:hover {
    background-color: rgb(0, 69, 143);
}
.category.selected {
    color: rgb(232, 230, 227);
}
footer {
    background-color: rgb(38, 42, 43);
    color: rgb(232, 230, 227);
}
#createPostButton {
    background-color: rgb(0, 93, 174);
    color: rgb(232, 230, 227);
    border-color: initial;
}
#createPostButton:hover {
    background-color: rgb(0, 69, 143);
}
#popupInstruction {
    background-color: rgb(32, 35, 37);
    border-color: rgb(62, 68, 70);
}
#writeCommentBtn {
    background-color: rgb(0, 98, 204);
    color: rgb(232, 230, 227);
    border-color: initial;
}
#writeCommentBtn:hover {
    background-color: rgb(0, 69, 143);
}
#ShareBtn {
    background-color: rgb(0, 98, 204);
    color: rgb(232, 230, 227);
    border-color: initial;
}
#ShareBtn:hover {
    background-color: rgb(0, 69, 143);
}

/* Override Style */
.vimvixen-hint {
    background-color: #7b5300 !important;
    border-color: #d8b013 !important;
    color: #f3e8c8 !important;
}
#vimvixen-console-frame {
    color-scheme: light !important
}
::placeholder {
    opacity: 0.5 !important;
}
#edge-translate-panel-body,
.MuiTypography-body1,
.nfe-quote-text {
    color: var(--darkreader-neutral-text) !important;
}
gr-main-header {
    background-color: #0f3a48 !important;
}
.tou-z65h9k,
.tou-mignzq,
.tou-1b6i2ox,
.tou-lnqlqk {
    background-color: var(--darkreader-neutral-background) !important;
}
.tou-75mvi {
    background-color: #032029 !important;
}
.tou-ta9e87,
.tou-1w3fhi0,
.tou-1b8t2us,
.tou-py7lfi,
.tou-1lpmd9d,
.tou-1frrtv8,
.tou-17ezmgn {
    background-color: #0a0a0a !important;
}
.tou-uknfeu {
    background-color: #231603 !important;
}
.tou-6i3zyv {
    background-color: #19576c !important;
}
div.mermaid-viewer-control-panel .btn {
  fill: var(--darkreader-neutral-text);
  background-color: var(--darkreader-neutral-background);
}
svg g rect.er {
  fill: var(--darkreader-neutral-background) !important;
}
svg g rect.er.entityBox {
  fill: var(--darkreader-neutral-background) !important;
}
svg g rect.er.attributeBoxOdd {
  fill: var(--darkreader-neutral-background) !important;
}
svg g rect.er.attributeBoxEven {
  fill-opacity: 0.8 !important;
  fill: var(--darkreader-selection-background);
}
svg rect.er.relationshipLabelBox {
  fill: var(--darkreader-neutral-background) !important;
}
svg g g.nodes rect, svg g g.nodes polygon {
  fill: var(--darkreader-neutral-background) !important;
}
svg g rect.task {
  fill: var(--darkreader-selection-background) !important;
}
svg line.messageLine0, svg line.messageLine1 {
  stroke: var(--darkreader-neutral-text) !important;
}
div.mermaid .actor {
  fill: var(--darkreader-neutral-background) !important;
}
.google-material-icons {
    font-family: 'Google Material Icons' !important;
}
.google-symbols {
    font-family: 'Google Symbols' !important;
}
.material-icons-extended {
    font-family: 'Material Icons Extended' !important;
}
mitid-authenticators-code-app > .code-app-container {
    padding-top: 1rem;
    background-color: white !important;
}
iframe#unpaywall[src$="unpaywall.html"] {
    color-scheme: light !important;
}
.ms-Icon {
    font-family: 'FabricMDL2Icons' !important;
}
embed[type="application/pdf"][src="about:blank"] { filter: invert(100%) contrast(90%); }
