@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('../fonts/Segoe UI.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Italic'), url('../fonts/Segoe UI Italic.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('../fonts/Segoe UI Bold.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold Italic'), url('../fonts/Segoe UI Bold Italic.woff') format('woff');
}

/* Reset some default styles to ensure consistency */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Set a background color and text color */
body {
    color: #333;
    font-family: Segoe UI Regular, Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Style the main content */
main {
    padding: 20px;
}

/* Style posts */
.post {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.post h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.post p {
    font-size: 16px;
    line-height: 1.5;
}

.post a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ccc;
    transition: background-color 0.3s;
}

.post a:hover {
    background-color: #555;
    color: #fff;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Style categories */
.category {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.category h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.category p {
    font-size: 16px;
    line-height: 1.5;
}

.category a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ccc;
    transition: background-color 0.3s;
}

.category a:hover {
    background-color: #555;
    color: #fff;
}

/* Add these styles for the posting page */

/* Style the post form */
.post-form {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.pfp {
    border-radius: 50%;
}

.post-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Style the post textarea */
#post-content {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: none;
}
#post-title {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Style the send button */
button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Add styles for the emoji row */
.emoji-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.emoji {
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s ease-in-out;
}

.emoji:hover {
    transform: scale(1.2);
}

/* Style the category row */
.category-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Style the category */
.category {
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20px; /* More rounded edges */
    transition: background-color 0.2s, color 0.2s, transform 0.2s; /* Added transition for border-radius */
}

/* Style the selected category */
.category.selected {
    /* background-color: #ccc; */ /* Lighter gray background for selected category */
    color: #FFF; /* Black text color for selected category */
    border-radius: 20px; /* More rounded edges */
}

#createPostButton {
    border-radius: 20px;
}

.category:hover {
    transform: scale(1.1);
}

/* Add some spacing between the category row and other elements */
.emoji-row {
    margin-top: 10px;
}
.emoji {
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 20px;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


/* CSS for the growing color effect */
.grow-color {
    transition: background-color 0.3s ease-in-out; /* Adjust the duration and easing as needed */
}

/* Add styles to the button */
#createPostButton {
    background-color: #0074d9;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#createPostButton:hover {
    background-color: #0056b3;
}

/* Add styles for the temporary message */
#popupInstruction {
    display: none;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.post-form p {
    white-space: pre-wrap;
}

/* Add this style to match your existing styles */
#writeCommentBtn {
    background-color: #007BFF;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

#writeCommentBtn:hover {
    background-color: #0056b3;
}

#ShareBtn {
    background-color: #007BFF;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

#ShareBtn:hover {
    background-color: #0056b3;
}

#button-row {
    display: flex;
    justify-content: center;
}

html {
    background-color: #191b1b !important;
}
html {
    color-scheme: dark !important;
}
html, body, input, textarea, select, button, dialog {
    background-color: #191b1b;
}
html, body, input, textarea, select, button {
    border-color: #776e5f;
    color: #f1ece2;
}
a {
    color: #4293ef;
}
table {
    border-color: #585d5d;
}
::placeholder {
    color: #b8afa1;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #424406 !important;
    color: #f1ece2 !important;
}
::-webkit-scrollbar {
    background-color: #222424;
    color: #b1a899;
}
::-webkit-scrollbar-thumb {
    background-color: #494c4c;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #5c6061;
}
::-webkit-scrollbar-thumb:active {
    background-color: #4c5050;
}
::-webkit-scrollbar-corner {
    background-color: #191b1b;
}
::selection {
    background-color: #0b4e9d !important;
    color: #f1ece2 !important;
}
::-moz-selection {
    background-color: #0b4e9d !important;
    color: #f1ece2 !important;
}

/* Invert Style */
.jfk-bubble.gtx-bubble, .captcheck_answer_label > input + img, span#closed_text > img[src^="https://www.gstatic.com/images/branding/googlelogo"], span[data-href^="https://www.hcaptcha.com/"] > #icon, #bit-notification-bar-iframe, ::-webkit-calendar-picker-indicator, img.Wirisformula {
    filter: invert(100%) hue-rotate(180deg) contrast(90%) sepia(12%) !important;
}

/* Variables Style */
:root {
   --darkreader-neutral-background: #141516;
   --darkreader-neutral-text: #e1d9ce;
   --darkreader-selection-background: #0b4e9d;
   --darkreader-selection-text: #f1ece2;
}

/* Modified CSS */
body {
    color: rgb(208, 200, 187);
}
header {
    background-color: rgb(40, 43, 42);
    color: rgb(241, 236, 226);
}
nav ul li a {
    text-decoration-color: initial;
    color: rgb(241, 236, 226);
}
.post {
    background-color: rgb(25, 27, 27);
    border-color: rgb(65, 69, 69);
}
.post a {
    text-decoration-color: initial;
    color: rgb(208, 200, 187);
    background-color: rgb(56, 58, 58);
}
.post a:hover {
    background-color: rgb(67, 71, 71);
    color: rgb(241, 236, 226);
}
footer {
    background-color: rgb(40, 43, 42);
    color: rgb(241, 236, 226);
    margin-top: auto;
}
.category {
    background-color: rgb(25, 27, 27);
    border-color: rgb(65, 69, 69);
}
.category a {
    text-decoration-color: initial;
    color: rgb(208, 200, 187);
    background-color: rgb(56, 58, 58);
}
.category a:hover {
    background-color: rgb(67, 71, 71);
    color: rgb(241, 236, 226);
}
.post-form {
    background-color: rgb(25, 27, 27);
    border-color: rgb(65, 69, 69);
}
#post-content {
    border-color: rgb(65, 69, 69);
}
#post-title {
    border-color: rgb(65, 69, 69);
}
button[type="submit"] {
    background-color: rgb(14, 98, 189);
    color: rgb(241, 236, 226); border-color: initial;
}
button[type="submit"]:hover {
    background-color: rgb(10, 69, 133);
}
.category.selected {
    color: rgb(241, 236, 226);
}
footer {
    background-color: rgb(40, 43, 42);
    color: rgb(241, 236, 226);
}
#createPostButton {
    background-color: rgb(13, 93, 162);
    color: rgb(241, 236, 226);
    border-color: initial;
}
#createPostButton:hover {
    background-color: rgb(10, 69, 133);
}
#popupInstruction {
    background-color: rgb(34, 36, 36);
    border-color: rgb(65, 69, 69);
}
#writeCommentBtn {
    background-color: rgb(14, 98, 189);
    color: rgb(241, 236, 226);
    border-color: initial;
}
#writeCommentBtn:hover {
    background-color: rgb(10, 69, 133);
}
#ShareBtn {
    background-color: rgb(14, 98, 189);
    color: rgb(241, 236, 226);
    border-color: initial;
}
#ShareBtn:hover {
    background-color: rgb(10, 69, 133);
}

/* Override Style */
.vimvixen-hint {
    background-color: #795500 !important;
    border-color: #d9b323 !important;
    color: #fbedca !important;
}
#vimvixen-console-frame {
    color-scheme: light !important
}
::placeholder {
    opacity: 0.5 !important;
}
#edge-translate-panel-body,
.MuiTypography-body1,
.nfe-quote-text {
    color: var(--darkreader-neutral-text) !important;
}
gr-main-header {
    background-color: #153a45 !important;
}
.tou-z65h9k,
.tou-mignzq,
.tou-1b6i2ox,
.tou-lnqlqk {
    background-color: var(--darkreader-neutral-background) !important;
}
.tou-75mvi {
    background-color: #072027 !important;
}
.tou-ta9e87,
.tou-1w3fhi0,
.tou-1b8t2us,
.tou-py7lfi,
.tou-1lpmd9d,
.tou-1frrtv8,
.tou-17ezmgn {
    background-color: #0a0a0a !important;
}
.tou-uknfeu {
    background-color: #221605 !important;
}
.tou-6i3zyv {
    background-color: #225767 !important;
}
div.mermaid-viewer-control-panel .btn {
  fill: var(--darkreader-neutral-text);
  background-color: var(--darkreader-neutral-background);
}
svg g rect.er {
  fill: var(--darkreader-neutral-background) !important;
}
svg g rect.er.entityBox {
  fill: var(--darkreader-neutral-background) !important;
}
svg g rect.er.attributeBoxOdd {
  fill: var(--darkreader-neutral-background) !important;
}
svg g rect.er.attributeBoxEven {
  fill-opacity: 0.8 !important;
  fill: var(--darkreader-selection-background);
}
svg rect.er.relationshipLabelBox {
  fill: var(--darkreader-neutral-background) !important;
}
svg g g.nodes rect, svg g g.nodes polygon {
  fill: var(--darkreader-neutral-background) !important;
}
svg g rect.task {
  fill: var(--darkreader-selection-background) !important;
}
svg line.messageLine0, svg line.messageLine1 {
  stroke: var(--darkreader-neutral-text) !important;
}
div.mermaid .actor {
  fill: var(--darkreader-neutral-background) !important;
}
.google-material-icons {
    font-family: 'Google Material Icons' !important;
}
.google-symbols {
    font-family: 'Google Symbols' !important;
}
.material-icons-extended {
    font-family: 'Material Icons Extended' !important;
}
mitid-authenticators-code-app > .code-app-container {
    padding-top: 1rem;
    background-color: white !important;
}
iframe#unpaywall[src$="unpaywall.html"] {
    color-scheme: light !important;
}
.ms-Icon {
    font-family: 'FabricMDL2Icons' !important;
}
embed[type="application/pdf"][src="about:blank"] { filter: invert(100%) contrast(90%); }